.employee-info {
  .controls {
    margin: 10px;

    button {
      margin-right: 10px;
    }
  }

  .info {
    margin: {
      top: 20px;
      left: 10px;
    }

    .attribute {
      margin-top: 10px;
    }
  }
}